html{
    background: linear-gradient(90deg, rgb(63, 65, 185) 5%, rgb(128, 50, 26) 70%);
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: auto;
    width: 100%;
    height: auto;
    font-family: 'Karla', sans-serif;
}
#navbar-menu{
    display: flex;
    justify-content: center;
}

h1{
    color: white;
}

#logo-img{
    border-radius: 50%;
    transition: 2000ms all ease-in-out;
}

#logo-img:hover{
    transform: rotate(360deg);
    transition: 1000ms all ease-in-out;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#audio-dropdown{
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    background-color: rgb(106, 107, 175);
    background-image: none;
    cursor: pointer;
}

.select {
    position: relative;
    display: flex;
    width: 15rem;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

.select:hover::after {
    color: #f39c12;
}

/* Button design taken from Kocsten : https://codepen.io/kocsten */

#span-click {
    content: icon;
    margin-top: 2rem;
    width: 10%;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1em;
}

#svg-inside {
    cursor:pointer;
    height: 1.3rem;
}

#span-click:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#span-click:active {
    color: #ffffff;
}

#span-click:active:after{
    background: transparent;
}

#span-click:hover:before {
    opacity: 1;
}

#span-click:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(218, 45, 45);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Button design taken from Kocsten : https://codepen.io/kocsten */

p {
    margin: 10px 0;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
}

a {
    color : white;
}